*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --IRIS: #4d5ae5;
  --OCEAN: #404bbf;
  --NAVY-BLUE: #2e2f42;
  --LIGHT-SLATE: #8e8f99;
  --WHITE: #fff;
  --CORNFLOWER: #e7e9fc;
  --CLOUD: #f4f4fd;
  --GREEN: #31d0aa;
  --DAIRY: #fcfcfc;
  --SLATE: #434455;
  --COMMON-BLACK: #2f2f37;
}

/* Body */
body {
  background-color: var(--WHITE);
  color: var(--NAVY-BLUE);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  margin: 0;
  padding: 0;
}

body.modal-open {
  overflow: hidden;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* Common */

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

/* Header */

.page-header {
  border-bottom: 1px solid var(--CORNFLOWER);
  box-shadow:
    0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list,
.address {
  display: none;
}

.logo {
  color: var(--IRIS);

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.header-logo {
  padding: 16px 0;
  display: block;
}

.header-logo .logo-part {
  color: var(--NAVY-BLUE);
}

.burger-btn {
  padding: 0;

  border: none;
  background-color: transparent;
}

.burger-icon {
  display: block;
  fill: var(--COMMON-BLACK);
  cursor: pointer;
}

/* Mobile-menu */
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  padding: 72px 16px 40px;

  background-color: var(--WHITE);

  display: flex;
  flex-direction: column;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition:
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
/* nav */
.mobile-menu-nav {
  margin-bottom: auto;
}

.mobile-nav-item:not(:last-child) {
  margin-bottom: 40px;
}

.mobile-nav-link {
  color: var(--NAVY-BLUE);

  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11em;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* addr */
.mobile-menu-addr {
  margin-bottom: 48px;
}

.mobile-addr-item:not(:last-child) {
  margin-bottom: 24px;
}

.mobile-addr-link {
  color: var(--SLATE);

  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2em;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-nav-link:hover,
.mobile-nav-link:focus,
.mobile-addr-link:hover,
.mobile-addr-link:focus,
.mobile-nav-link.current {
  color: var(--OCEAN);
}

.mobile-menu-nav.current,
.mobile-addr-link.current {
  color: var(--OCEAN);
}
/* icon */
.mobile-menu-icon {
  display: flex;
  justify-content: center;
  gap: 40px;

  padding: 0;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }

  .header-nav {
    display: flex;
    align-items: center;
  }

  .nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .header-logo {
    padding: 24px 0;
    margin-right: 120px;
  }

  .nav-link {
    position: relative;
    display: block;
    padding: 24px 0;

    color: var(--NAVY-BLUE);
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    font-weight: 500;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link::after {
    content: "";

    position: absolute;
    left: 0;
    bottom: -1px;

    border-radius: 2px;
    width: 100%;
    height: 4px;

    background-color: var(--OCEAN);
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link:hover::after,
  .nav-link:focus::after,
  .nav-link.current::after {
    opacity: 1;
  }

  .address {
    font-style: normal;
    display: block;
  }

  .addr-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .addr-link {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--SLATE);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link:hover,
  .nav-link:focus,
  .addr-link:hover,
  .addr-link:focus,
  .nav-link.current {
    color: var(--OCEAN);
  }
}

@media screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }

  .addr-list {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }

  .addr-link {
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

/* Main */

/* Hero Section */

.hero-section {
  margin: 0 auto;
  padding: 72px 0;

  background-image:
    linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url("../images/people-office_mob@1x.jpg");

  background-color: var(--NAVY-BLUE);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-section .container {
  max-width: 320px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  gap: 72px;
}

.hero-title {
  color: var(--WHITE);
  text-align: center;

  font-size: 36px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  font-weight: 700;

  max-width: 216px;
  margin: 0 auto;
}

.hero-button {
  color: var(--WHITE);
  background-color: var(--IRIS);
  cursor: pointer;
  letter-spacing: 0.04em;
  line-height: 1.5;
  font-size: 16px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;

  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin: 0 auto;

  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--OCEAN);
}

@media (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-section {
    background-image:
      linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url("../images/people-office_mob@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero-section {
    padding: 112px 0;

    background-image:
      linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url("../images/people-office_tab@1x.jpg");
  }

  .hero-section .container {
    max-width: 768px;
    gap: 36px;
  }

  .hero-title {
    font-size: 56px;
    max-width: 496px;
  }

  @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .hero-section {
      background-image:
        linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url("../images/people-office_tab@1x.jpg");
    }
  }
}

@media screen and (min-width: 1158px) {
  .hero-section {
    padding: 188px 0;

    background-image:
      linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url("../images/people-office_desk@1x.jpg");
  }

  .hero-section .container {
    max-width: 1440px;
    gap: 48px;
  }

  @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .hero-section {
      background-image:
        linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url("../images/people-office_desk@2x.jpg");
    }
  }
}

/* Features Section */
.features-section {
  padding: 96px 0;
}

.list-class {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

/* icon */
.icon-box {
  display: none;
}

.hero-h {
  margin-bottom: 8px;
  text-align: center;

  color: var(--NAVY-BLUE);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
}

.hero-p {
  text-align: left;

  color: var(--SLATE);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .list-class {
    flex-wrap: wrap;
    flex-direction: row;
    gap: 72px 24px;
  }

  .hero-li {
    width: calc((100% - 24px) / 2);
  }

  .hero-h {
    text-align: left;
  }
  .hero-p {
    font-weight: 500;
  }
}

@media screen and (min-width: 1158px) {
  .features-section {
    padding: 120px 0;
  }

  .list-class {
    display: flex;
    gap: 24px;
  }

  .hero-li {
    width: calc((100% - 72px) / 4);
  }

  /* icon */
  .icon-box {
    height: 112px;
    margin-bottom: 8px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 4px;
    border: 1px solid var(--LIGHT-SLATE);
    background-color: var(--CLOUD);
  }

  .icon {
    fill: var(--WHITE);
  }

  .hero-h {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .hero-p {
    font-weight: 400;
  }
}

/* Team Section */
.team-section {
  padding: 96px 0;
  background-color: var(--CLOUD);
}

.headline {
  margin-bottom: 72px;
  color: var(--NAVY-BLUE);
  text-align: center;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
/* List of team cards */
.list-hero {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  gap: 24px;
  padding: 0;
  margin: 0;
  list-style: none;
}

/* Each card */
.list-item {
  width: 100%;
  max-width: 264px;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 0 0 4px 4px;
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background-color: var(--WHITE);
}

.team-img {
  width: 100%;
  height: auto;
  display: block;
}

.box-class {
  padding: 32px 16px;
}

.title-hero {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--NAVY-BLUE);
  text-align: center;
  margin-bottom: 8px;
}

.paragraph-hero {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--SLATE);
  text-align: center;
}
/* icon-link */
.icon-list {
  display: flex;
  justify-content: center;
  gap: 24px;

  padding: 0;
  margin: 0;
}

.icon-link {
  margin-top: 8px;
}

.icon-link,
.mobile-icon-link,
.footer-icon-link {
  width: 40px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  background-color: var(--IRIS);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link:hover,
.icon-link:focus {
  background-color: var(--OCEAN);
}

.mobile-icon-link:hover,
.mobile-icon-link:focus {
  background-color: var(--OCEAN);
}

.footer-icon-link:hover,
.footer-icon-link:focus {
  background-color: var(--GREEN);
}

.icon {
  fill: var(--CLOUD);
}

@media screen and (min-width: 768px) {
  .list-hero {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 64px 24px;
  }

  .list-item {
    width: calc(50% - 12px);
  }
}

@media screen and (min-width: 1158px) {
  .team-section {
    padding: 120px 0;
  }
  .list-hero {
    display: flex;
    gap: 24px;
  }
  .list-item {
    width: calc(25% - 18px);
  }
}

/* Portfolio Section */
.portfolio-section {
  padding: 96px 0;
  background-color: var(--WHITE);
}

.headline-class {
  margin-bottom: 72px;
  color: var(--NAVY-BLUE);

  text-align: center;
  color: var(--NAVY-BLUE);
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.list-one-hero {
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.hero-list-item {
  box-sizing: border-box;
  background-color: var(--WHITE);

  box-shadow:
    0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 2px 1px 0 rgba(46, 47, 66, 0.08);

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-list-item:hover,
.hero-list-item:focus {
  box-shadow:
    0 4px 12px 0 rgba(46, 47, 66, 0.12),
    0 4px 4px 0 rgba(46, 47, 66, 0.16),
    0 8px 4px 0 rgba(46, 47, 66, 0.08);
}

/* Img-portfolio */
.portfolio-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-ill {
  width: 100%;
  height: 280px;
  object-fit: cover;
  display: block;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px;

  background-color: var(--IRIS);
  letter-spacing: 0.02em;
  color: var(--CLOUD);

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-list-item:hover .overlay {
  transform: translateY(0);
}

.container-link {
  padding: 32px 16px;
  border: 1px solid var(--CORNFLOWER);
  border-top: none;
}

.header-hero {
  margin-bottom: 8px;
  color: var(--NAVY-BLUE);

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.class-p {
  color: var(--SLATE);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .list-one-hero {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 72px 24px;
  }

  .hero-list-item {
    width: calc((100% - 24px) / 2);
    max-width: 356px;
  }

  .portfolio-ill {
    height: 300px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .hero-list-item {
    width: 100%;
    max-width: 356px;
    box-shadow:
      0 1px 6px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16),
      0 2px 1px 0 rgba(46, 47, 66, 0.08);
    flex: 1 1 auto;
  }

  .list-one-hero {
    justify-content: center;
  }
}

@media screen and (min-width: 1158px) {
  .portfolio-section {
    padding: 120px 0;
    background-color: var(--WHITE);
  }

  .list-one-hero {
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;
  }

  .hero-list-item {
    box-shadow: none;
    flex: 0 0 calc((100% - 48px) / 3);
  }

  .hero-list-item:hover,
  .hero-list-item:focus {
    box-shadow:
      0 1px 6px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16),
      0 2px 1px 0 rgba(46, 47, 66, 0.08);
  }
}

/* Footer */
.page-footer {
  padding: 96px 0;
  background-color: var(--NAVY-BLUE);
}

.page-footer .container {
  display: flex;
  flex-direction: column;
  gap: 72px;

  text-align: center;
}
/* footer-info */
.footer-info {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
  gap: 16px;
}

.logo {
  color: var(--IRIS);
  display: inline-block;

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-logo .logo-part {
  color: var(--CLOUD);
}

.text-footer {
  text-align: left;
  color: var(--CLOUD);

  font-weight: 400;
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: 0.02em;
}
/* footer-social */
.footer-social {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.title-footer {
  color: var(--CLOUD);

  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.footer-icon-list {
  display: flex;
  justify-content: center;
  gap: 16px;

  padding: 0;
  margin: 0;
}
/* footer-subscribe */
.footer-subscribe {
  display: flex;
  flex-direction: column;

  gap: 16px;
}

.subscribe-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.footer-form-input {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--WHITE);

  width: 100%;
  height: 40px;
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid var(--WHITE);
  background-color: transparent;
  box-sizing: border-box;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-input::placeholder {
  color: var(--WHITE);
}

.footer-form-input:hover,
.footer-form-input:focus {
  border-color: var(--GREEN);
}

.footer-form-input:hover::placeholder,
.footer-form-input:focus::placeholder {
  color: var(--GREEN);
}

.footer-form-field {
  max-width: 288px;
  width: 100%;
}

.button-footer {
  color: var(--WHITE);
  background-color: var(--IRIS);
  text-align: center;

  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;

  min-width: 169px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 8px 24px;
  border-radius: 4px;
  border: none;
  margin: 0 auto;
  cursor: pointer;
  gap: 16px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-footer:hover,
.button-footer:focus {
  background-color: var(--GREEN);
}

@media screen and (min-width: 768px) {
  .page-footer {
    padding: 96px 0;
  }

  .page-footer .container {
    text-align: left;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  /* footer-info */
  .footer-info {
    align-items: flex-start;
    width: 264px;
  }

  /* footer-social */
  .footer-social {
    align-items: flex-start;
  }

  /* footer-subscribe */
  .footer-subscribe {
    align-items: flex-start;
    width: 100%;
  }

  .footer-form-input {
    width: 264px;
  }

  .subscribe-form {
    flex-direction: row;
    gap: 24px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1167.98px) {
  .page-footer .container {
    padding: 0 108px;
  }
}

@media screen and (min-width: 1158px) {
  .page-footer {
    padding: 100px 0;
  }

  .page-footer .container {
    display: flex;
    align-items: flex-start;
    align-items: baseline;
    flex-wrap: nowrap;
    gap: 0;
  }

  .footer-info {
    margin-right: 120px;
  }

  .footer-social {
    margin-right: 80px;
  }

  .footer-subscribe {
    width: auto;
  }

  .subscribe-form {
    flex-direction: row;
    gap: 24px;
  }
}

/* Backdrop */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition:
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 288px;
  min-height: 623px;
  transform: translate(-50%, -50%);

  border-radius: 4px;
  background-color: var(--DAIRY);
  box-shadow:
    0 2px 1px 0 rgba(0, 0, 0, 0.2),
    0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 1px 1px 0 rgba(0, 0, 0, 0.14);

  padding: 72px 16px 24px 16px;
  /* Text */
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.48px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop:not(.is-open) .modal {
  transform: translate(-50%, -50%) scale(1.5);
}

/* Button-cross */
.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;

  padding: 0;
  box-sizing: border-box;
  border-radius: 50%;
  background-color: var(--CORNFLOWER);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: none;
  outline: none;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-cross {
  fill: var(--NAVY-BLUE);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: var(--OCEAN);
}
.modal-close-btn:hover .icon-cross,
.modal-close-btn:focus .icon-cross {
  fill: var(--WHITE);
}

/* Modal-text */
.modal-text {
  color: var(--NAVY-BLUE);
  text-align: center;
  margin-bottom: 16px;

  font-family: Roboto;

  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

/* Contact-form */
.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 256px;
  margin-bottom: 8px;
}

.field label {
  color: var(--LIGHT-SLATE);
}
.field-comment {
  margin-bottom: 16px;
}

/* Label typography */
.contact-form label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--LIGHT-SLATE);
}
/* Input and textarea */
.input-wrapper {
  position: relative;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  box-sizing: border-box;

  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form input {
  height: 40px;
  padding-left: 38px;
}
.contact-form textarea {
  height: 120px;
  resize: none;
  padding-top: 8px;
  padding-left: 16px;

  font-family: Roboto;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--NAVY-BLUE);
}

.contact-form textarea::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

/* Icons in input  */
.icon-form {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  fill: var(--NAVY-BLUE);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-wrapper:hover input,
.input-wrapper:hover textarea {
  border-color: var(--OCEAN);
}

.input-wrapper:hover .icon-form {
  fill: var(--OCEAN);
}

.input-wrapper:focus-within input,
.input-wrapper:focus-within textarea {
  border-color: var(--IRIS);
}

.input-wrapper:focus-within .icon-form {
  fill: var(--IRIS);
}

/* Checkbox and policy text */
.field-checkbox {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 24px;
}

.label-checkbox {
  display: flex;
  align-items: center;
  gap: 8px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: var(--LIGHT-SLATE);
}

.custom-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 16px;
  height: 16px;

  cursor: pointer;
  border: 1px solid var(--LIGHT-SLATE);
  border-radius: 2px;
  fill: transparent;
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Icon check  */
.custom-checkbox-icon {
  display: none;
}

.checkbox:checked + .label-checkbox > .custom-checkbox {
  fill: var(--CLOUD);
  background-color: var(--OCEAN);
  border-color: transparent;
}

.checkbox:checked + .label-checkbox > .custom-checkbox .custom-checkbox-icon {
  display: block;
}

.checkbox-text {
  display: inline-block;
}

/* Privacy link */
.label-checkbox .privacy-link {
  color: var(--IRIS);
  display: inline;

  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

/* Button-modal */
.form-button {
  color: var(--WHITE);
  background-color: var(--IRIS);
  letter-spacing: 0.04em;
  line-height: 1.5;
  font-size: 16px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;

  display: block;
  width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-button:hover,
.form-button:focus {
  background-color: var(--OCEAN);
}

@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px;
  }

  .field {
    width: 360px;
  }

  .field-checkbox {
    width: 360px;
  }
}
