.hidden {
  display: none;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --IRIS: #4d5ae5;
  --OCEAN: #404bbf;
  --NAVY-BLUE: #2e2f42;
  --LIGHT-SLATE: #8e8f99;
  --WHITE: #fff;
  --CORNFLOWER: #e7e9fc;
  --CLOUD: #f4f4fd;
  --GREEN: #31d0aa;
  --DAIRY: #fcfcfc;
  --SLATE: #434455;
  --COMMON-BLACK: #2f2f37;
}

/* Body */
body {
  background-color: var(--WHITE);
  color: var(--NAVY-BLUE);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  margin: 0;
  padding: 0;
}

body.modal-open {
  overflow: hidden;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* Common */

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media only screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

/* Header */

.page-header {
  border-bottom: 1px solid var(--CORNFLOWER);
  box-shadow:
    0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list,
.address {
  display: none;
}

.logo {
  color: var(--IRIS);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.header-logo {
  padding: 16px 0;
  display: block;
}

.header-logo .logo-part {
  color: var(--NAVY-BLUE);
}

.burger-btn {
  padding: 0;

  border: none;
  background-color: transparent;
}

.burger-icon {
  display: block;
  fill: var(--COMMON-BLACK);
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }

  .header-nav {
    display: flex;
    align-items: center;
  }

  .nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .header-logo {
    padding: 24px 0;
    margin-right: 120px;
  }

  .nav-link {
    display: block;
    padding: 24px 0;
    color: var(--NAVY-BLUE);
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    font-weight: 500;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background-color: var(--OCEAN);
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link:hover::after,
  .nav-link:focus::after,
  .nav-link.current::after {
    opacity: 1;
  }

  .address {
    font-style: normal;
    display: block;
  }

  .addr-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .addr-link {
    display: block;
    color: var(--SLATE);
    font-size: 12px;
    letter-spacing: 0.04em;
    line-height: 1.17;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link:hover,
  .nav-link:focus,
  .addr-link:hover,
  .addr-link:focus,
  .nav-link.current {
    color: var(--OCEAN);
  }
}

@media only screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }
  .addr-list {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }

  .addr-link {
    padding: 24px 0;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
  }
}

/* Main */
/* Hero Section */

.hero-section {
  margin: 0 auto;
  padding: 72px 52px;

  background-image:
    linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url("../images/people-office.jpg");

  background-color: var(--NAVY-BLUE);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-section .container {
  max-width: 320px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  gap: 72px;
}

.hero-title {
  color: var(--WHITE);
  text-align: center;

  font-size: 36px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  line-height: 40px;
  font-weight: 700;

  max-width: 216px;
  margin: 0 auto;
}

.hero-button {
  color: var(--WHITE);
  background-color: var(--IRIS);
  cursor: pointer;
  letter-spacing: 0.04em;
  line-height: 1.5;
  font-size: 16px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;

  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--OCEAN);
}
